:root{
 --main-color: #0971F1;
 --navbar-color: #022BDB;
 --textColor: white;
 --title-font: "Sedgwick Ave Display";
 --second-font: "Rock Salt";
 --mainFont: "Kreon";
}

body {
display: flex;
flex-direction: column;
background-image: url(./smokey-blue.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
.titleFont {
 font-family: var(--title-font), sans-serif;
 font-size: x-large;
}
.secondFont {
 font-family: var(--second-font),serif;
 font-size: small;
}
.mainFont {
 font-family: var(--mainFont), monospace;
}
.myImage {
 height: 300px;
 width: 250px;
}
.image {
 height: 200px;
 width: 300px;
}
.custom-navbar{
 background-color: var(--navbar-color);
}
.aboutMe {
 background-color: var(--main-color);
}
.textColor{
color: var(--textColor)
}
.custom-card {
 gap: 10px;
}
.custom-card h5{
flex: 0 0 100%;
}
.custom-card img {
 flex: 0 1 30%;
 max-width: 300px;
}
.custom-card p {
 flex: 1 1 50%;
}