*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
 display:flex;
 flex-direction: column;
  background-color: #152565;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 50px auto;
  padding: 20px;
  width: 46%;
  overflow: hidden;
}
.card::after {
  content: " ";
  display: block;
  clear: both;
}
button {
  background-color:#163057;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin: 0 auto;
  display:block;
}
.hide {
 display: none;
}
h1 {
 color: white;
}
h2{
 color: white;
}
h3 {
 color: white
}